.element{
  color: #fff;
  border-right: 1px solid #fff;
  padding: 10px 20px 10px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;

  &:last-child{
    border-right: none;
  }
}

@media(max-width: 768px){
  .element{
    border: none;
  }
}